html,body {
    margin: 0px;
}
nav a {
    margin: 5px;
    color: black;
}
a {
    color: black;
}

nav img {
    width: 200px;
    margin: 10px;
}

nav {
    display: block;
    width: 250px;
    border: 2px solid black;
    padding-bottom: 200px;
}

input {
    margin: 10px;
    border-radius: 15px;
}

.contenu {
    max-width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 300px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 40px;
}

.contenu img {
    width: 900px;
}

.contenu a {
    margin-top: 80px;
    margin-right: -990px;
    margin-bottom: 30px;
    text-align: right;
}